--

-- PostgreSQL database dump

--



\restrict ctLcI8ooAeIdqRDw7yIcxtywjFHaYLEbPs5HS8JUuOaKc3RgkPS1NhEfh0j2Vbh



-- Dumped from database version 16.10

-- Dumped by pg_dump version 16.10



SET statement_timeout = 0;

SET lock_timeout = 0;

SET idle_in_transaction_session_timeout = 0;

SET client_encoding = 'UTF8';

SET standard_conforming_strings = on;

SELECT pg_catalog.set_config('search_path', '', false);

SET check_function_bodies = false;

SET xmloption = content;

SET client_min_messages = warning;

SET row_security = off;



--

-- Name: public; Type: SCHEMA; Schema: -; Owner: eventapp

--



-- *not* creating schema, since initdb creates it





ALTER SCHEMA public OWNER TO eventapp;



--

-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -

--



CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;





--

-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 

--



COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';





--

-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -

--



CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;





--

-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 

--



COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';





--

-- Name: application_status; Type: TYPE; Schema: public; Owner: postgres

--



CREATE TYPE public.application_status AS ENUM (

    'pending',

    'approved',

    'rejected',

    'waitlisted',

    'withdrawn'

);





ALTER TYPE public.application_status OWNER TO postgres;



--

-- Name: event_kind; Type: TYPE; Schema: public; Owner: postgres

--



CREATE TYPE public.event_kind AS ENUM (

    'general',

    'festival',

    'concert',

    'market',

    'other',

    'trade_show',

    'fair'

);





ALTER TYPE public.event_kind OWNER TO postgres;



--

-- Name: userrole; Type: TYPE; Schema: public; Owner: postgres

--



CREATE TYPE public.userrole AS ENUM (

    'vendor',

    'organizer',

    'admin'

);





ALTER TYPE public.userrole OWNER TO postgres;



--

-- Name: events_set_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres

--



CREATE FUNCTION public.events_set_updated_at() RETURNS trigger

    LANGUAGE plpgsql

    AS $$

        BEGIN

          NEW.updated_at = CURRENT_TIMESTAMP;

          RETURN NEW;

        END;

        $$;





ALTER FUNCTION public.events_set_updated_at() OWNER TO postgres;



--

-- Name: mirror_diagram_to_data(); Type: FUNCTION; Schema: public; Owner: postgres

--



CREATE FUNCTION public.mirror_diagram_to_data() RETURNS trigger

    LANGUAGE plpgsql

    AS $$

BEGIN

  NEW.data := NEW.diagram;

  RETURN NEW;

END;

$$;





ALTER FUNCTION public.mirror_diagram_to_data() OWNER TO postgres;



--

-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres

--



CREATE FUNCTION public.set_updated_at() RETURNS trigger

    LANGUAGE plpgsql

    AS $$

BEGIN

  NEW.updated_at = timezone('utc', now());

  RETURN NEW;

END;

$$;





ALTER FUNCTION public.set_updated_at() OWNER TO postgres;



--

-- Name: sync_user_hash_cols(); Type: FUNCTION; Schema: public; Owner: postgres

--



CREATE FUNCTION public.sync_user_hash_cols() RETURNS trigger

    LANGUAGE plpgsql

    AS $$

BEGIN

  -- prefer whichever one is non-null, then mirror to the other

  IF NEW.hashed_password IS NOT NULL AND (NEW.password_hash IS NULL OR NEW.password_hash <> NEW.hashed_password) THEN

    NEW.password_hash := NEW.hashed_password;

  ELSIF NEW.password_hash IS NOT NULL AND (NEW.hashed_password IS NULL OR NEW.hashed_password <> NEW.password_hash) THEN

    NEW.hashed_password := NEW.password_hash;

  END IF;

  RETURN NEW;

END;

$$;





ALTER FUNCTION public.sync_user_hash_cols() OWNER TO postgres;



--

-- Name: touch_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres

--



CREATE FUNCTION public.touch_updated_at() RETURNS trigger

    LANGUAGE plpgsql

    AS $$

BEGIN

  NEW.updated_at := now();

  RETURN NEW;

END $$;





ALTER FUNCTION public.touch_updated_at() OWNER TO postgres;



--

-- Name: trg_set_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres

--



CREATE FUNCTION public.trg_set_updated_at() RETURNS trigger

    LANGUAGE plpgsql

    AS $$

        BEGIN

          NEW.updated_at := NOW();

          RETURN NEW;

        END;

        $$;





ALTER FUNCTION public.trg_set_updated_at() OWNER TO postgres;



SET default_tablespace = '';



SET default_table_access_method = heap;



--

-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.alembic_version (

    version_num character varying(255) NOT NULL

);





ALTER TABLE public.alembic_version OWNER TO postgres;



--

-- Name: applications; Type: TABLE; Schema: public; Owner: eventapp

--



CREATE TABLE public.applications (

    id integer NOT NULL,

    event_id integer NOT NULL,

    user_id integer NOT NULL,

    status public.application_status DEFAULT 'pending'::public.application_status NOT NULL,

    slot_request character varying,

    notes text,

    total_due_cents integer DEFAULT 0 NOT NULL,

    vendor_snapshot jsonb,

    created_at timestamp with time zone DEFAULT now() NOT NULL,

    updated_at timestamp with time zone DEFAULT now() NOT NULL,

    assigned_slot_id integer,

    slot_id integer

);





ALTER TABLE public.applications OWNER TO eventapp;



--

-- Name: applications_id_seq; Type: SEQUENCE; Schema: public; Owner: eventapp

--



CREATE SEQUENCE public.applications_id_seq

    AS integer

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.applications_id_seq OWNER TO eventapp;



--

-- Name: applications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: eventapp

--



ALTER SEQUENCE public.applications_id_seq OWNED BY public.applications.id;





--

-- Name: categories; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.categories (

    id integer NOT NULL,

    name character varying(120) NOT NULL,

    slug character varying(120) NOT NULL,

    is_active boolean DEFAULT true NOT NULL

);





ALTER TABLE public.categories OWNER TO postgres;



--

-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres

--



CREATE SEQUENCE public.categories_id_seq

    AS integer

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.categories_id_seq OWNER TO postgres;



--

-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres

--



ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;





--

-- Name: event_categories; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.event_categories (

    id integer NOT NULL,

    event_id integer NOT NULL,

    category_id integer NOT NULL

);





ALTER TABLE public.event_categories OWNER TO postgres;



--

-- Name: event_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres

--



CREATE SEQUENCE public.event_categories_id_seq

    AS integer

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.event_categories_id_seq OWNER TO postgres;



--

-- Name: event_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres

--



ALTER SEQUENCE public.event_categories_id_seq OWNED BY public.event_categories.id;





--

-- Name: event_category_link; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.event_category_link (

    event_id integer NOT NULL,

    category_id integer NOT NULL

);





ALTER TABLE public.event_category_link OWNER TO postgres;



--

-- Name: event_diagram; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.event_diagram (

    id bigint NOT NULL,

    event_id integer NOT NULL,

    diagram jsonb DEFAULT '{}'::jsonb NOT NULL,

    version integer DEFAULT 0 NOT NULL,

    updated_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,

    data jsonb GENERATED ALWAYS AS (diagram) STORED,

    created_at timestamp with time zone DEFAULT now() NOT NULL

);





ALTER TABLE public.event_diagram OWNER TO postgres;



--

-- Name: event_diagram_history; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.event_diagram_history (

    id bigint NOT NULL,

    event_id integer NOT NULL,

    data jsonb DEFAULT '{}'::jsonb NOT NULL,

    version integer NOT NULL,

    changed_by integer,

    reason text,

    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,

    tag text

);





ALTER TABLE public.event_diagram_history OWNER TO postgres;



--

-- Name: event_diagram_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres

--



CREATE SEQUENCE public.event_diagram_history_id_seq

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.event_diagram_history_id_seq OWNER TO postgres;



--

-- Name: event_diagram_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres

--



ALTER SEQUENCE public.event_diagram_history_id_seq OWNED BY public.event_diagram_history.id;





--

-- Name: event_diagram_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres

--



CREATE SEQUENCE public.event_diagram_id_seq

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.event_diagram_id_seq OWNER TO postgres;



--

-- Name: event_diagram_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres

--



ALTER SEQUENCE public.event_diagram_id_seq OWNED BY public.event_diagram.id;





--

-- Name: event_diagrams; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.event_diagrams (

    id bigint NOT NULL,

    event_id integer NOT NULL,

    data jsonb DEFAULT '{}'::jsonb NOT NULL,

    version integer DEFAULT 0 NOT NULL,

    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,

    updated_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL

);





ALTER TABLE public.event_diagrams OWNER TO postgres;



--

-- Name: event_diagrams_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres

--



CREATE SEQUENCE public.event_diagrams_id_seq

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.event_diagrams_id_seq OWNER TO postgres;



--

-- Name: event_diagrams_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres

--



ALTER SEQUENCE public.event_diagrams_id_seq OWNED BY public.event_diagrams.id;





--

-- Name: event_invites; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.event_invites (

    id integer NOT NULL,

    event_id integer NOT NULL,

    contact_id integer NOT NULL,

    status character varying(20) DEFAULT 'draft'::character varying NOT NULL,

    notes text,

    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL

);





ALTER TABLE public.event_invites OWNER TO postgres;



--

-- Name: event_invites_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres

--



CREATE SEQUENCE public.event_invites_id_seq

    AS integer

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.event_invites_id_seq OWNER TO postgres;



--

-- Name: event_invites_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres

--



ALTER SEQUENCE public.event_invites_id_seq OWNED BY public.event_invites.id;





--

-- Name: event_slots; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.event_slots (

    id integer NOT NULL,

    event_id integer NOT NULL,

    label character varying(100) NOT NULL,

    price_cents integer DEFAULT 0 NOT NULL,

    is_available boolean DEFAULT true NOT NULL,

    created_at timestamp with time zone DEFAULT now() NOT NULL,

    updated_at timestamp with time zone DEFAULT now() NOT NULL,

    price numeric(10,2),

    shape character varying(12) DEFAULT 'rect'::character varying NOT NULL,

    x_norm numeric(8,6),

    y_norm numeric(8,6),

    w_norm numeric(8,6),

    h_norm numeric(8,6),

    rotation_deg numeric(6,2),

    cx_norm numeric(8,6),

    cy_norm numeric(8,6),

    r_norm numeric(8,6),

    points_norm jsonb,

    z_index integer,

    label_x_norm numeric(8,6),

    label_y_norm numeric(8,6),

    width integer DEFAULT 1 NOT NULL,

    height integer DEFAULT 1 NOT NULL,

    x integer DEFAULT 0 NOT NULL,

    y integer DEFAULT 0 NOT NULL,

    meta jsonb DEFAULT '{}'::jsonb NOT NULL,

    status character varying(32) DEFAULT 'available'::character varying NOT NULL,

    kind character varying(32) DEFAULT 'standard'::character varying NOT NULL,

    category_id integer,

    CONSTRAINT ck_event_slots_cx_norm_range CHECK (((cx_norm IS NULL) OR ((cx_norm >= (0)::numeric) AND (cx_norm <= (1)::numeric)))),

    CONSTRAINT ck_event_slots_cy_norm_range CHECK (((cy_norm IS NULL) OR ((cy_norm >= (0)::numeric) AND (cy_norm <= (1)::numeric)))),

    CONSTRAINT ck_event_slots_h_norm_range CHECK (((h_norm IS NULL) OR ((h_norm >= (0)::numeric) AND (h_norm <= (1)::numeric)))),

    CONSTRAINT ck_event_slots_label_x_norm_range CHECK (((label_x_norm IS NULL) OR ((label_x_norm >= (0)::numeric) AND (label_x_norm <= (1)::numeric)))),

    CONSTRAINT ck_event_slots_label_y_norm_range CHECK (((label_y_norm IS NULL) OR ((label_y_norm >= (0)::numeric) AND (label_y_norm <= (1)::numeric)))),

    CONSTRAINT ck_event_slots_r_norm_range CHECK (((r_norm IS NULL) OR ((r_norm >= (0)::numeric) AND (r_norm <= (1)::numeric)))),

    CONSTRAINT ck_event_slots_shape_valid CHECK (((shape)::text = ANY ((ARRAY['rect'::character varying, 'circle'::character varying, 'poly'::character varying])::text[]))),

    CONSTRAINT ck_event_slots_w_h_nonneg CHECK ((((w_norm IS NULL) OR (w_norm >= (0)::numeric)) AND ((h_norm IS NULL) OR (h_norm >= (0)::numeric)))),

    CONSTRAINT ck_event_slots_w_norm_range CHECK (((w_norm IS NULL) OR ((w_norm >= (0)::numeric) AND (w_norm <= (1)::numeric)))),

    CONSTRAINT ck_event_slots_x_norm_range CHECK (((x_norm IS NULL) OR ((x_norm >= (0)::numeric) AND (x_norm <= (1)::numeric)))),

    CONSTRAINT ck_event_slots_y_norm_range CHECK (((y_norm IS NULL) OR ((y_norm >= (0)::numeric) AND (y_norm <= (1)::numeric))))

);





ALTER TABLE public.event_slots OWNER TO postgres;



--

-- Name: event_slots_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres

--



CREATE SEQUENCE public.event_slots_id_seq

    AS integer

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.event_slots_id_seq OWNER TO postgres;



--

-- Name: event_slots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres

--



ALTER SEQUENCE public.event_slots_id_seq OWNED BY public.event_slots.id;





--

-- Name: events; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.events (

    id integer NOT NULL,

    title character varying NOT NULL,

    description text,

    date character varying(64) NOT NULL,

    location character varying,

    city character varying,

    max_vendor_slots integer DEFAULT 0,

    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,

    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,

    kind character varying DEFAULT 'other'::character varying NOT NULL,

    business_only boolean DEFAULT false NOT NULL,

    badge_required boolean DEFAULT false NOT NULL,

    deleted_at timestamp with time zone,

    owner_id integer,

    ticket_url character varying(255),

    expected_attendees integer,

    organizer_years_in_business integer,

    organizer_id integer,

    public_title character varying,

    public_description text,

    public_is_listed boolean DEFAULT false NOT NULL,

    public_cost character varying,

    public_location_map character varying,

    public_hero_image character varying,

    public_image_url character varying,

    public_ticket_url character varying,

    public_price_text character varying,

    public_host_name character varying,

    public_map_url character varying,

    total_vendor_capacity integer,

    category_vendor_capacity jsonb

);





ALTER TABLE public.events OWNER TO postgres;



--

-- Name: events_backup; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.events_backup (

    id integer NOT NULL,

    title character varying NOT NULL,

    description text,

    date character varying(64) NOT NULL,

    location character varying,

    city character varying,

    max_vendor_slots integer DEFAULT 0,

    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,

    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,

    kind character varying DEFAULT 'other'::character varying NOT NULL,

    business_only boolean DEFAULT false NOT NULL,

    badge_required boolean DEFAULT false NOT NULL,

    deleted_at timestamp with time zone,

    owner_id integer,

    ticket_url character varying(255),

    expected_attendees integer,

    organizer_years_in_business integer,

    organizer_id integer,

    public_title character varying,

    public_description text,

    public_is_listed boolean DEFAULT false NOT NULL,

    public_cost character varying,

    public_location_map character varying,

    public_hero_image character varying,

    public_image_url character varying,

    public_ticket_url character varying,

    public_price_text text,

    public_host_name text,

    public_map_url text,

    CONSTRAINT ck_events_slots_nonnegative CHECK ((max_vendor_slots >= 0))

);





ALTER TABLE public.events_backup OWNER TO postgres;



--

-- Name: events_diagram; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.events_diagram (

    event_id integer NOT NULL,

    image_url text NOT NULL,

    natural_width_px integer NOT NULL,

    natural_height_px integer NOT NULL,

    grid_px integer,

    notes text,

    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,

    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL

);





ALTER TABLE public.events_diagram OWNER TO postgres;



--

-- Name: events_diagram_history; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.events_diagram_history (

    id integer NOT NULL,

    event_id integer NOT NULL,

    image_url text NOT NULL,

    natural_width_px integer NOT NULL,

    natural_height_px integer NOT NULL,

    grid_px integer,

    notes text,

    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL

);





ALTER TABLE public.events_diagram_history OWNER TO postgres;



--

-- Name: events_diagram_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres

--



CREATE SEQUENCE public.events_diagram_history_id_seq

    AS integer

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.events_diagram_history_id_seq OWNER TO postgres;



--

-- Name: events_diagram_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres

--



ALTER SEQUENCE public.events_diagram_history_id_seq OWNED BY public.events_diagram_history.id;





--

-- Name: events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres

--



CREATE SEQUENCE public.events_id_seq

    AS integer

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.events_id_seq OWNER TO postgres;



--

-- Name: events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres

--



ALTER SEQUENCE public.events_id_seq OWNED BY public.events_backup.id;





--

-- Name: events_id_seq1; Type: SEQUENCE; Schema: public; Owner: postgres

--



CREATE SEQUENCE public.events_id_seq1

    AS integer

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.events_id_seq1 OWNER TO postgres;



--

-- Name: events_id_seq1; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres

--



ALTER SEQUENCE public.events_id_seq1 OWNED BY public.events.id;





--

-- Name: organizer_contacts; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.organizer_contacts (

    id integer NOT NULL,

    organizer_id integer NOT NULL,

    name text,

    email text,

    phone text,

    company text,

    notes text,

    tags jsonb DEFAULT '[]'::jsonb NOT NULL,

    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,

    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL

);





ALTER TABLE public.organizer_contacts OWNER TO postgres;



--

-- Name: organizer_contacts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres

--



CREATE SEQUENCE public.organizer_contacts_id_seq

    AS integer

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.organizer_contacts_id_seq OWNER TO postgres;



--

-- Name: organizer_contacts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres

--



ALTER SEQUENCE public.organizer_contacts_id_seq OWNED BY public.organizer_contacts.id;





--

-- Name: organizer_profiles; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.organizer_profiles (

    id integer NOT NULL,

    user_id integer NOT NULL,

    business_name character varying(255),

    contact_name character varying(255),

    public_email character varying(255),

    phone character varying(50),

    website character varying(255),

    city character varying(255),

    organizer_story text,

    checklist_tags text DEFAULT '[]'::text NOT NULL,

    organizer_categories text DEFAULT '[]'::text NOT NULL,

    created_at timestamp with time zone DEFAULT now() NOT NULL,

    updated_at timestamp with time zone DEFAULT now() NOT NULL

);





ALTER TABLE public.organizer_profiles OWNER TO postgres;



--

-- Name: organizer_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres

--



CREATE SEQUENCE public.organizer_profiles_id_seq

    AS integer

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.organizer_profiles_id_seq OWNER TO postgres;



--

-- Name: organizer_profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres

--



ALTER SEQUENCE public.organizer_profiles_id_seq OWNED BY public.organizer_profiles.id;





--

-- Name: permit_resources; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.permit_resources (

    id integer NOT NULL,

    country character varying(2) DEFAULT 'US'::character varying NOT NULL,

    state character varying(2) NOT NULL,

    city character varying(80),

    agency character varying(255) NOT NULL,

    url character varying(512) NOT NULL,

    notes character varying(1024),

    is_active boolean DEFAULT true NOT NULL,

    tags jsonb DEFAULT '[]'::jsonb NOT NULL

);





ALTER TABLE public.permit_resources OWNER TO postgres;



--

-- Name: permit_resources_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres

--



CREATE SEQUENCE public.permit_resources_id_seq

    AS integer

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.permit_resources_id_seq OWNER TO postgres;



--

-- Name: permit_resources_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres

--



ALTER SEQUENCE public.permit_resources_id_seq OWNED BY public.permit_resources.id;





--

-- Name: users; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.users (

    id integer NOT NULL,

    email character varying NOT NULL,

    hashed_password character varying NOT NULL,

    role character varying,

    is_active boolean DEFAULT true NOT NULL,

    password_hash text,

    created_at timestamp with time zone DEFAULT now() NOT NULL,

    updated_at timestamp with time zone DEFAULT now() NOT NULL

);





ALTER TABLE public.users OWNER TO postgres;



--

-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres

--



CREATE SEQUENCE public.users_id_seq

    AS integer

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.users_id_seq OWNER TO postgres;



--

-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres

--



ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;





--

-- Name: vendor_applications; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.vendor_applications (

    id bigint NOT NULL,

    event_id integer NOT NULL,

    vendor_profile_id integer NOT NULL,

    status text DEFAULT 'pending'::text NOT NULL,

    requested_slots integer DEFAULT 1 NOT NULL,

    notes text,

    total_due_cents integer DEFAULT 0 NOT NULL,

    vendor_snapshot jsonb,

    created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,

    updated_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,

    payment_status text DEFAULT 'unpaid'::text NOT NULL,

    payment_provider text,

    payment_reference text,

    payment_paid_cents integer DEFAULT 0 NOT NULL,

    payment_due_at timestamp with time zone,

    payment_paid_at timestamp with time zone,

    assigned_slot_id integer,

    vendor_id integer,

    total_paid_cents integer NOT NULL,

    submitted_at timestamp with time zone

);





ALTER TABLE public.vendor_applications OWNER TO postgres;



--

-- Name: vendor_applications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres

--



CREATE SEQUENCE public.vendor_applications_id_seq

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.vendor_applications_id_seq OWNER TO postgres;



--

-- Name: vendor_applications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres

--



ALTER SEQUENCE public.vendor_applications_id_seq OWNED BY public.vendor_applications.id;





--

-- Name: vendor_categories; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.vendor_categories (

    id integer NOT NULL,

    name character varying(255) NOT NULL,

    created_at timestamp with time zone DEFAULT now() NOT NULL,

    updated_at timestamp with time zone DEFAULT now() NOT NULL

);





ALTER TABLE public.vendor_categories OWNER TO postgres;



--

-- Name: vendor_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres

--



CREATE SEQUENCE public.vendor_categories_id_seq

    AS integer

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.vendor_categories_id_seq OWNER TO postgres;



--

-- Name: vendor_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres

--



ALTER SEQUENCE public.vendor_categories_id_seq OWNED BY public.vendor_categories.id;





--

-- Name: vendor_profile_categories; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.vendor_profile_categories (

    id integer NOT NULL,

    vendor_profile_id integer NOT NULL,

    category_id integer NOT NULL

);





ALTER TABLE public.vendor_profile_categories OWNER TO postgres;



--

-- Name: vendor_profile_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres

--



CREATE SEQUENCE public.vendor_profile_categories_id_seq

    AS integer

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.vendor_profile_categories_id_seq OWNER TO postgres;



--

-- Name: vendor_profile_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres

--



ALTER SEQUENCE public.vendor_profile_categories_id_seq OWNED BY public.vendor_profile_categories.id;





--

-- Name: vendor_profiles; Type: TABLE; Schema: public; Owner: postgres

--



CREATE TABLE public.vendor_profiles (

    id integer NOT NULL,

    display_name character varying,

    bio text,

    website character varying,

    social character varying,

    user_id integer NOT NULL,

    business_name character varying(255),

    contact_name character varying(255),

    phone character varying(255),

    about text,

    created_at timestamp without time zone DEFAULT now() NOT NULL,

    updated_at timestamp without time zone DEFAULT now() NOT NULL,

    years_in_business integer,

    instagram character varying(255),

    facebook character varying(255),

    tiktok character varying(255),

    primary_category character varying(100),

    other_categories text,

    city character varying(100),

    state character varying(100),

    email character varying(255),

    description text,

    public_logo_url character varying,

    vendor_story text,

    checklist_tags jsonb DEFAULT '[]'::jsonb,

    vendor_categories jsonb DEFAULT '[]'::jsonb,

    public_email text

);





ALTER TABLE public.vendor_profiles OWNER TO postgres;



--

-- Name: vendor_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres

--



CREATE SEQUENCE public.vendor_profiles_id_seq

    AS integer

    START WITH 1

    INCREMENT BY 1

    NO MINVALUE

    NO MAXVALUE

    CACHE 1;





ALTER SEQUENCE public.vendor_profiles_id_seq OWNER TO postgres;



--

-- Name: vendor_profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres

--



ALTER SEQUENCE public.vendor_profiles_id_seq OWNED BY public.vendor_profiles.id;





--

-- Name: applications id; Type: DEFAULT; Schema: public; Owner: eventapp

--



ALTER TABLE ONLY public.applications ALTER COLUMN id SET DEFAULT nextval('public.applications_id_seq'::regclass);





--

-- Name: categories id; Type: DEFAULT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);





--

-- Name: event_categories id; Type: DEFAULT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_categories ALTER COLUMN id SET DEFAULT nextval('public.event_categories_id_seq'::regclass);





--

-- Name: event_diagram id; Type: DEFAULT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_diagram ALTER COLUMN id SET DEFAULT nextval('public.event_diagram_id_seq'::regclass);





--

-- Name: event_diagram_history id; Type: DEFAULT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_diagram_history ALTER COLUMN id SET DEFAULT nextval('public.event_diagram_history_id_seq'::regclass);





--

-- Name: event_diagrams id; Type: DEFAULT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_diagrams ALTER COLUMN id SET DEFAULT nextval('public.event_diagrams_id_seq'::regclass);





--

-- Name: event_invites id; Type: DEFAULT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_invites ALTER COLUMN id SET DEFAULT nextval('public.event_invites_id_seq'::regclass);





--

-- Name: event_slots id; Type: DEFAULT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_slots ALTER COLUMN id SET DEFAULT nextval('public.event_slots_id_seq'::regclass);





--

-- Name: events id; Type: DEFAULT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.events ALTER COLUMN id SET DEFAULT nextval('public.events_id_seq1'::regclass);





--

-- Name: events_backup id; Type: DEFAULT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.events_backup ALTER COLUMN id SET DEFAULT nextval('public.events_id_seq'::regclass);





--

-- Name: events_diagram_history id; Type: DEFAULT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.events_diagram_history ALTER COLUMN id SET DEFAULT nextval('public.events_diagram_history_id_seq'::regclass);





--

-- Name: organizer_contacts id; Type: DEFAULT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.organizer_contacts ALTER COLUMN id SET DEFAULT nextval('public.organizer_contacts_id_seq'::regclass);





--

-- Name: organizer_profiles id; Type: DEFAULT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.organizer_profiles ALTER COLUMN id SET DEFAULT nextval('public.organizer_profiles_id_seq'::regclass);





--

-- Name: permit_resources id; Type: DEFAULT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.permit_resources ALTER COLUMN id SET DEFAULT nextval('public.permit_resources_id_seq'::regclass);





--

-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);





--

-- Name: vendor_applications id; Type: DEFAULT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.vendor_applications ALTER COLUMN id SET DEFAULT nextval('public.vendor_applications_id_seq'::regclass);





--

-- Name: vendor_categories id; Type: DEFAULT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.vendor_categories ALTER COLUMN id SET DEFAULT nextval('public.vendor_categories_id_seq'::regclass);





--

-- Name: vendor_profile_categories id; Type: DEFAULT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.vendor_profile_categories ALTER COLUMN id SET DEFAULT nextval('public.vendor_profile_categories_id_seq'::regclass);





--

-- Name: vendor_profiles id; Type: DEFAULT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.vendor_profiles ALTER COLUMN id SET DEFAULT nextval('public.vendor_profiles_id_seq'::regclass);





--

-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres

--



COPY public.alembic_version (version_num) FROM stdin;

fb569e4c4b8a

\.





--

-- Data for Name: applications; Type: TABLE DATA; Schema: public; Owner: eventapp

--








--

-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres

--



COPY public.categories (id, name, slug, is_active) FROM stdin;

1	Food Trucks	food-trucks	t

2	Crafts & Art	crafts-art	t

3	Home Services	home-services	t

4	Health & Wellness	health-wellness	t

5	Rides & Amusements	rides-amusements	t

6	Games & Midway	games-midway	t

7	Concessions & Sweets	concessions-sweets	t

\.





--

-- Data for Name: event_categories; Type: TABLE DATA; Schema: public; Owner: postgres

--



COPY public.event_categories (id, event_id, category_id) FROM stdin;

11	1	2

12	1	7

13	1	6

14	1	5

\.





--

-- Data for Name: event_category_link; Type: TABLE DATA; Schema: public; Owner: postgres

--



COPY public.event_category_link (event_id, category_id) FROM stdin;

\.





--

-- Data for Name: event_diagram; Type: TABLE DATA; Schema: public; Owner: postgres

--








--

-- Data for Name: event_diagram_history; Type: TABLE DATA; Schema: public; Owner: postgres

--








--

-- Data for Name: event_diagrams; Type: TABLE DATA; Schema: public; Owner: postgres

--



COPY public.event_diagrams (id, event_id, data, version, created_at, updated_at) FROM stdin;

1	1	{"boothMap": {"A1": {"price": 100}, "B2": {"price": 150}, "C1": {"price": 175}, "D1": {"price": 200}, "D2": {"price": 210}, "E1": {"price": 220}, "H1": {"price": 321}, "T1": {"price": 333}, "Z1": {"price": 777}, "Z9": {"price": 999}, "TMP1": {"price": 1}}}	58	2025-11-11 00:45:50.293971-05	2025-11-11 17:54:04.774956-05

\.





--

-- Data for Name: event_invites; Type: TABLE DATA; Schema: public; Owner: postgres

--



COPY public.event_invites (id, event_id, contact_id, status, notes, created_at) FROM stdin;

1	52	1	invited	VIP cupcake truck	2025-12-19 14:47:20.813379-05

2	52	5	invited	\N	2025-12-19 15:46:08.161435-05

3	52	4	invited	\N	2025-12-19 15:46:15.077793-05

4	52	3	invited	\N	2025-12-19 15:46:15.122569-05

\.





--

-- Data for Name: event_slots; Type: TABLE DATA; Schema: public; Owner: postgres

--








--

-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: postgres

--








--

-- Data for Name: events_backup; Type: TABLE DATA; Schema: public; Owner: postgres

--








--

-- Data for Name: events_diagram; Type: TABLE DATA; Schema: public; Owner: postgres

--



COPY public.events_diagram (event_id, image_url, natural_width_px, natural_height_px, grid_px, notes, created_at, updated_at) FROM stdin;

38	https://cdn.example.com/fp/hallA_v2.png	2560	1440	40	Replaced via PUT	2025-11-09 16:31:59.744099-05	2025-11-09 17:28:27.508038-05

26	https://via.placeholder.com/1200x800.png?text=Booth+Map	1200	800	40	v1 seed via tester	2025-11-09 20:18:57.262478-05	2025-11-09 20:20:51.590686-05

\.





--

-- Data for Name: events_diagram_history; Type: TABLE DATA; Schema: public; Owner: postgres

--








--

-- Data for Name: organizer_contacts; Type: TABLE DATA; Schema: public; Owner: postgres

--








--

-- Data for Name: organizer_profiles; Type: TABLE DATA; Schema: public; Owner: postgres

--



COPY public.organizer_profiles (id, user_id, business_name, contact_name, public_email, phone, website, city, organizer_story, checklist_tags, organizer_categories, created_at, updated_at) FROM stdin;

2	13	Parties R Us	\N	party21@party.com	555-555-5523	www.party21.com	Atlanta	Best parties on earth	{}	{}	2025-12-18 19:11:46.180995-05	2025-12-18 21:41:00.457805-05

\.





--

-- Data for Name: permit_resources; Type: TABLE DATA; Schema: public; Owner: postgres

--



COPY public.permit_resources (id, country, state, city, agency, url, notes, is_active, tags) FROM stdin;

\.





--

-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres

--








--

-- Data for Name: vendor_applications; Type: TABLE DATA; Schema: public; Owner: postgres

--








--

-- Data for Name: vendor_categories; Type: TABLE DATA; Schema: public; Owner: postgres

--








--

-- Data for Name: vendor_profile_categories; Type: TABLE DATA; Schema: public; Owner: postgres

--



COPY public.vendor_profile_categories (id, vendor_profile_id, category_id) FROM stdin;

1	6	1

2	6	2

3	10	1

4	10	3

5	11	4

6	13	5

7	13	6

8	8	1

9	8	7

10	7	1

11	7	8

12	9	1

13	9	9

14	12	10

15	12	11

16	5	1

17	5	12

\.





--

-- Data for Name: vendor_profiles; Type: TABLE DATA; Schema: public; Owner: postgres

--








--

-- Name: applications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: eventapp

--



SELECT pg_catalog.setval('public.applications_id_seq', 13, true);





--

-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres

--



SELECT pg_catalog.setval('public.categories_id_seq', 7, true);





--

-- Name: event_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres

--



SELECT pg_catalog.setval('public.event_categories_id_seq', 14, true);





--

-- Name: event_diagram_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres

--



SELECT pg_catalog.setval('public.event_diagram_history_id_seq', 119, true);





--

-- Name: event_diagram_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres

--



SELECT pg_catalog.setval('public.event_diagram_id_seq', 31, true);





--

-- Name: event_diagrams_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres

--



SELECT pg_catalog.setval('public.event_diagrams_id_seq', 2, true);





--

-- Name: event_invites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres

--



SELECT pg_catalog.setval('public.event_invites_id_seq', 4, true);





--

-- Name: event_slots_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres

--



SELECT pg_catalog.setval('public.event_slots_id_seq', 332, true);





--

-- Name: events_diagram_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres

--



SELECT pg_catalog.setval('public.events_diagram_history_id_seq', 5, true);





--

-- Name: events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres

--



SELECT pg_catalog.setval('public.events_id_seq', 60, true);





--

-- Name: events_id_seq1; Type: SEQUENCE SET; Schema: public; Owner: postgres

--



SELECT pg_catalog.setval('public.events_id_seq1', 11, true);





--

-- Name: organizer_contacts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres

--



SELECT pg_catalog.setval('public.organizer_contacts_id_seq', 5, true);





--

-- Name: organizer_profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres

--



SELECT pg_catalog.setval('public.organizer_profiles_id_seq', 2, true);





--

-- Name: permit_resources_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres

--



SELECT pg_catalog.setval('public.permit_resources_id_seq', 1, false);





--

-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres

--



SELECT pg_catalog.setval('public.users_id_seq', 24, true);





--

-- Name: vendor_applications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres

--



SELECT pg_catalog.setval('public.vendor_applications_id_seq', 63, true);





--

-- Name: vendor_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres

--



SELECT pg_catalog.setval('public.vendor_categories_id_seq', 12, true);





--

-- Name: vendor_profile_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres

--



SELECT pg_catalog.setval('public.vendor_profile_categories_id_seq', 17, true);





--

-- Name: vendor_profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres

--



SELECT pg_catalog.setval('public.vendor_profiles_id_seq', 21, true);





--

-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.alembic_version

    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);





--

-- Name: applications applications_pkey; Type: CONSTRAINT; Schema: public; Owner: eventapp

--



ALTER TABLE ONLY public.applications

    ADD CONSTRAINT applications_pkey PRIMARY KEY (id);





--

-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.categories

    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);





--

-- Name: event_categories event_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_categories

    ADD CONSTRAINT event_categories_pkey PRIMARY KEY (id);





--

-- Name: event_category_link event_category_link_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_category_link

    ADD CONSTRAINT event_category_link_pkey PRIMARY KEY (event_id, category_id);





--

-- Name: event_diagram event_diagram_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_diagram

    ADD CONSTRAINT event_diagram_pkey PRIMARY KEY (id);





--

-- Name: event_invites event_invites_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_invites

    ADD CONSTRAINT event_invites_pkey PRIMARY KEY (id);





--

-- Name: event_slots event_slots_event_id_label_key; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_slots

    ADD CONSTRAINT event_slots_event_id_label_key UNIQUE (event_id, label);





--

-- Name: event_slots event_slots_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_slots

    ADD CONSTRAINT event_slots_pkey PRIMARY KEY (id);





--

-- Name: events_diagram_history events_diagram_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.events_diagram_history

    ADD CONSTRAINT events_diagram_history_pkey PRIMARY KEY (id);





--

-- Name: events_diagram events_diagram_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.events_diagram

    ADD CONSTRAINT events_diagram_pkey PRIMARY KEY (event_id);





--

-- Name: events_backup events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.events_backup

    ADD CONSTRAINT events_pkey PRIMARY KEY (id);





--

-- Name: events events_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.events

    ADD CONSTRAINT events_pkey1 PRIMARY KEY (id);





--

-- Name: organizer_contacts organizer_contacts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.organizer_contacts

    ADD CONSTRAINT organizer_contacts_pkey PRIMARY KEY (id);





--

-- Name: organizer_profiles organizer_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.organizer_profiles

    ADD CONSTRAINT organizer_profiles_pkey PRIMARY KEY (id);





--

-- Name: permit_resources permit_resources_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.permit_resources

    ADD CONSTRAINT permit_resources_pkey PRIMARY KEY (id);





--

-- Name: event_diagram_history pk_event_diagram_history; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_diagram_history

    ADD CONSTRAINT pk_event_diagram_history PRIMARY KEY (id);





--

-- Name: event_diagrams pk_event_diagrams; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_diagrams

    ADD CONSTRAINT pk_event_diagrams PRIMARY KEY (id);





--

-- Name: categories uq_categories_slug; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.categories

    ADD CONSTRAINT uq_categories_slug UNIQUE (slug);





--

-- Name: event_categories uq_event_category; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_categories

    ADD CONSTRAINT uq_event_category UNIQUE (event_id, category_id);





--

-- Name: event_diagram uq_event_diagram_event_id; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_diagram

    ADD CONSTRAINT uq_event_diagram_event_id UNIQUE (event_id);





--

-- Name: event_diagrams uq_event_diagrams_event_id; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_diagrams

    ADD CONSTRAINT uq_event_diagrams_event_id UNIQUE (event_id);





--

-- Name: event_invites uq_event_invites_event_contact; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_invites

    ADD CONSTRAINT uq_event_invites_event_contact UNIQUE (event_id, contact_id);





--

-- Name: organizer_profiles uq_organizer_profiles_user_id; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.organizer_profiles

    ADD CONSTRAINT uq_organizer_profiles_user_id UNIQUE (user_id);





--

-- Name: vendor_profile_categories uq_vendor_profile_categories_profile_category; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.vendor_profile_categories

    ADD CONSTRAINT uq_vendor_profile_categories_profile_category UNIQUE (vendor_profile_id, category_id);





--

-- Name: vendor_profiles uq_vendor_profiles_user_id; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.vendor_profiles

    ADD CONSTRAINT uq_vendor_profiles_user_id UNIQUE (user_id);





--

-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.users

    ADD CONSTRAINT users_pkey PRIMARY KEY (id);





--

-- Name: event_diagram ux_event_diagram_event_id; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_diagram

    ADD CONSTRAINT ux_event_diagram_event_id UNIQUE (event_id);





--

-- Name: event_diagram_history ux_event_diagram_history_event_version; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_diagram_history

    ADD CONSTRAINT ux_event_diagram_history_event_version UNIQUE (event_id, version);





--

-- Name: vendor_applications vendor_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.vendor_applications

    ADD CONSTRAINT vendor_applications_pkey PRIMARY KEY (id);





--

-- Name: vendor_categories vendor_categories_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.vendor_categories

    ADD CONSTRAINT vendor_categories_name_key UNIQUE (name);





--

-- Name: vendor_categories vendor_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.vendor_categories

    ADD CONSTRAINT vendor_categories_pkey PRIMARY KEY (id);





--

-- Name: vendor_profile_categories vendor_profile_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.vendor_profile_categories

    ADD CONSTRAINT vendor_profile_categories_pkey PRIMARY KEY (id);





--

-- Name: vendor_profiles vendor_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.vendor_profiles

    ADD CONSTRAINT vendor_profiles_pkey PRIMARY KEY (id);





--

-- Name: idx_applications_event_id; Type: INDEX; Schema: public; Owner: eventapp

--



CREATE INDEX idx_applications_event_id ON public.applications USING btree (event_id);





--

-- Name: idx_applications_status; Type: INDEX; Schema: public; Owner: eventapp

--



CREATE INDEX idx_applications_status ON public.applications USING btree (status);





--

-- Name: idx_applications_user_id; Type: INDEX; Schema: public; Owner: eventapp

--



CREATE INDEX idx_applications_user_id ON public.applications USING btree (user_id);





--

-- Name: idx_applications_vendor_fk; Type: INDEX; Schema: public; Owner: eventapp

--



CREATE INDEX idx_applications_vendor_fk ON public.applications USING btree (user_id);





--

-- Name: idx_applications_vendor_snapshot_gin; Type: INDEX; Schema: public; Owner: eventapp

--



CREATE INDEX idx_applications_vendor_snapshot_gin ON public.applications USING gin (vendor_snapshot jsonb_path_ops);





--

-- Name: ix_applications_created_at; Type: INDEX; Schema: public; Owner: eventapp

--



CREATE INDEX ix_applications_created_at ON public.applications USING btree (created_at);





--

-- Name: ix_applications_event_id; Type: INDEX; Schema: public; Owner: eventapp

--



CREATE INDEX ix_applications_event_id ON public.applications USING btree (event_id);





--

-- Name: ix_applications_id; Type: INDEX; Schema: public; Owner: eventapp

--



CREATE INDEX ix_applications_id ON public.applications USING btree (id);





--

-- Name: ix_applications_user_id; Type: INDEX; Schema: public; Owner: eventapp

--



CREATE INDEX ix_applications_user_id ON public.applications USING btree (user_id);





--

-- Name: ix_apps_vendor_business_name_trgm; Type: INDEX; Schema: public; Owner: eventapp

--



CREATE INDEX ix_apps_vendor_business_name_trgm ON public.applications USING gin (((vendor_snapshot ->> 'business_name'::text)) public.gin_trgm_ops);





--

-- Name: ix_categories_slug; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_categories_slug ON public.categories USING btree (slug);





--

-- Name: ix_event_categories_cat_event; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_event_categories_cat_event ON public.event_categories USING btree (category_id, event_id);





--

-- Name: ix_event_categories_category_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_event_categories_category_id ON public.event_categories USING btree (category_id);





--

-- Name: ix_event_categories_event_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_event_categories_event_id ON public.event_categories USING btree (event_id);





--

-- Name: ix_event_category_link_category_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_event_category_link_category_id ON public.event_category_link USING btree (category_id);





--

-- Name: ix_event_category_link_event_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_event_category_link_event_id ON public.event_category_link USING btree (event_id);





--

-- Name: ix_event_diagram_event_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_event_diagram_event_id ON public.event_diagram USING btree (event_id);





--

-- Name: ix_event_diagram_history_event_created; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_event_diagram_history_event_created ON public.event_diagram_history USING btree (event_id, created_at);





--

-- Name: ix_event_diagram_history_event_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_event_diagram_history_event_id ON public.event_diagram_history USING btree (event_id);





--

-- Name: ix_event_diagram_history_event_tag; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_event_diagram_history_event_tag ON public.event_diagram_history USING btree (event_id, tag) WHERE (tag IS NOT NULL);





--

-- Name: ix_event_diagram_history_event_version; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_event_diagram_history_event_version ON public.event_diagram_history USING btree (event_id, version);





--

-- Name: ix_event_diagrams_event_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE UNIQUE INDEX ix_event_diagrams_event_id ON public.event_diagrams USING btree (event_id);





--

-- Name: ix_event_invites_contact_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_event_invites_contact_id ON public.event_invites USING btree (contact_id);





--

-- Name: ix_event_invites_event_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_event_invites_event_id ON public.event_invites USING btree (event_id);





--

-- Name: ix_event_slots_event_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_event_slots_event_id ON public.event_slots USING btree (event_id);





--

-- Name: ix_event_slots_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_event_slots_id ON public.event_slots USING btree (id);





--

-- Name: ix_events_city; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_events_city ON public.events_backup USING btree (city);





--

-- Name: ix_events_city_trgm; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_events_city_trgm ON public.events_backup USING gin (city public.gin_trgm_ops);





--

-- Name: ix_events_date; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_events_date ON public.events_backup USING btree (date);





--

-- Name: ix_events_date_desc; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_events_date_desc ON public.events_backup USING btree (date DESC NULLS LAST);





--

-- Name: ix_events_date_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_events_date_id ON public.events_backup USING btree (date, id);





--

-- Name: ix_events_date_id_desc; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_events_date_id_desc ON public.events_backup USING btree (date, id);





--

-- Name: ix_events_diagram_history_event_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_events_diagram_history_event_id ON public.events_diagram_history USING btree (event_id);





--

-- Name: ix_events_diagram_history_event_id_created_at_desc; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_events_diagram_history_event_id_created_at_desc ON public.events_diagram_history USING btree (event_id, created_at DESC);





--

-- Name: ix_events_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_events_id ON public.events_backup USING btree (id);





--

-- Name: ix_events_kind; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_events_kind ON public.events_backup USING btree (kind);





--

-- Name: ix_events_not_deleted; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_events_not_deleted ON public.events_backup USING btree (date, id) WHERE (deleted_at IS NULL);





--

-- Name: ix_events_owner_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_events_owner_id ON public.events_backup USING btree (owner_id);





--

-- Name: ix_events_title; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_events_title ON public.events_backup USING btree (title);





--

-- Name: ix_events_title_trgm; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_events_title_trgm ON public.events_backup USING gin (title public.gin_trgm_ops);





--

-- Name: ix_organizer_contacts_email; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_organizer_contacts_email ON public.organizer_contacts USING btree (email);





--

-- Name: ix_organizer_contacts_organizer_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_organizer_contacts_organizer_id ON public.organizer_contacts USING btree (organizer_id);





--

-- Name: ix_permit_resources_city; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_permit_resources_city ON public.permit_resources USING btree (city);





--

-- Name: ix_permit_resources_state; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_permit_resources_state ON public.permit_resources USING btree (state);





--

-- Name: ix_permit_resources_tags_gin; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_permit_resources_tags_gin ON public.permit_resources USING gin (tags);





--

-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres

--



CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);





--

-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_users_id ON public.users USING btree (id);





--

-- Name: ix_vendor_profiles_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_vendor_profiles_id ON public.vendor_profiles USING btree (id);





--

-- Name: ix_vendor_profiles_user_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE INDEX ix_vendor_profiles_user_id ON public.vendor_profiles USING btree (user_id);





--

-- Name: uq_users_lower_email; Type: INDEX; Schema: public; Owner: postgres

--



CREATE UNIQUE INDEX uq_users_lower_email ON public.users USING btree (lower((email)::text));





--

-- Name: ux_applications_event_user; Type: INDEX; Schema: public; Owner: eventapp

--



CREATE UNIQUE INDEX ux_applications_event_user ON public.applications USING btree (event_id, user_id);





--

-- Name: ux_permit_resources_key; Type: INDEX; Schema: public; Owner: postgres

--



CREATE UNIQUE INDEX ux_permit_resources_key ON public.permit_resources USING btree (lower((state)::text), lower((COALESCE(city, ''::character varying))::text), lower((agency)::text));





--

-- Name: ux_vendor_profiles_user_id; Type: INDEX; Schema: public; Owner: postgres

--



CREATE UNIQUE INDEX ux_vendor_profiles_user_id ON public.vendor_profiles USING btree (user_id);





--

-- Name: applications applications_set_updated_at; Type: TRIGGER; Schema: public; Owner: eventapp

--



CREATE TRIGGER applications_set_updated_at BEFORE UPDATE ON public.applications FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();





--

-- Name: applications set_updated_at; Type: TRIGGER; Schema: public; Owner: eventapp

--



CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.applications FOR EACH ROW EXECUTE FUNCTION public.trg_set_updated_at();





--

-- Name: applications trg_applications_set_updated_at; Type: TRIGGER; Schema: public; Owner: eventapp

--



CREATE TRIGGER trg_applications_set_updated_at BEFORE UPDATE ON public.applications FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();





--

-- Name: event_diagram trg_event_diagram_mirror; Type: TRIGGER; Schema: public; Owner: postgres

--



CREATE TRIGGER trg_event_diagram_mirror BEFORE INSERT OR UPDATE ON public.event_diagram FOR EACH ROW EXECUTE FUNCTION public.mirror_diagram_to_data();





--

-- Name: event_diagram trg_event_diagram_set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres

--



CREATE TRIGGER trg_event_diagram_set_updated_at BEFORE UPDATE ON public.event_diagram FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();





--

-- Name: event_diagrams trg_event_diagrams_set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres

--



CREATE TRIGGER trg_event_diagrams_set_updated_at BEFORE UPDATE ON public.event_diagrams FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();





--

-- Name: events_backup trg_events_updated_at; Type: TRIGGER; Schema: public; Owner: postgres

--



CREATE TRIGGER trg_events_updated_at BEFORE UPDATE ON public.events_backup FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();





--

-- Name: users trg_sync_user_hash_cols; Type: TRIGGER; Schema: public; Owner: postgres

--



CREATE TRIGGER trg_sync_user_hash_cols BEFORE INSERT OR UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.sync_user_hash_cols();





--

-- Name: applications trg_touch_applications; Type: TRIGGER; Schema: public; Owner: eventapp

--



CREATE TRIGGER trg_touch_applications BEFORE UPDATE ON public.applications FOR EACH ROW EXECUTE FUNCTION public.touch_updated_at();





--

-- Name: users trg_users_set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres

--



CREATE TRIGGER trg_users_set_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();





--

-- Name: applications applications_assigned_slot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eventapp

--



ALTER TABLE ONLY public.applications

    ADD CONSTRAINT applications_assigned_slot_id_fkey FOREIGN KEY (assigned_slot_id) REFERENCES public.event_slots(id) ON DELETE SET NULL;





--

-- Name: applications applications_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eventapp

--



ALTER TABLE ONLY public.applications

    ADD CONSTRAINT applications_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id) ON DELETE CASCADE;





--

-- Name: applications applications_slot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eventapp

--



ALTER TABLE ONLY public.applications

    ADD CONSTRAINT applications_slot_id_fkey FOREIGN KEY (slot_id) REFERENCES public.event_slots(id) ON DELETE SET NULL;





--

-- Name: applications applications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: eventapp

--



ALTER TABLE ONLY public.applications

    ADD CONSTRAINT applications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;





--

-- Name: event_categories event_categories_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_categories

    ADD CONSTRAINT event_categories_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE CASCADE;





--

-- Name: event_categories event_categories_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_categories

    ADD CONSTRAINT event_categories_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events_backup(id) ON DELETE CASCADE;





--

-- Name: event_category_link event_category_link_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_category_link

    ADD CONSTRAINT event_category_link_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE CASCADE;





--

-- Name: event_category_link event_category_link_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_category_link

    ADD CONSTRAINT event_category_link_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events_backup(id) ON DELETE CASCADE;





--

-- Name: event_diagram event_diagram_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_diagram

    ADD CONSTRAINT event_diagram_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events_backup(id) ON DELETE CASCADE;





--

-- Name: event_invites event_invites_contact_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_invites

    ADD CONSTRAINT event_invites_contact_id_fkey FOREIGN KEY (contact_id) REFERENCES public.organizer_contacts(id) ON DELETE CASCADE;





--

-- Name: event_invites event_invites_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_invites

    ADD CONSTRAINT event_invites_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id) ON DELETE CASCADE;





--

-- Name: event_slots event_slots_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_slots

    ADD CONSTRAINT event_slots_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.vendor_categories(id) ON DELETE SET NULL;





--

-- Name: event_slots event_slots_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_slots

    ADD CONSTRAINT event_slots_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events_backup(id) ON DELETE CASCADE;





--

-- Name: events_diagram events_diagram_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.events_diagram

    ADD CONSTRAINT events_diagram_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events_backup(id) ON DELETE CASCADE;





--

-- Name: events_diagram_history events_diagram_history_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.events_diagram_history

    ADD CONSTRAINT events_diagram_history_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events_backup(id) ON DELETE CASCADE;





--

-- Name: events_backup events_organizer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.events_backup

    ADD CONSTRAINT events_organizer_id_fkey FOREIGN KEY (organizer_id) REFERENCES public.users(id) ON DELETE CASCADE;





--

-- Name: event_diagram_history fk_event_diagram_history_changed_by_users; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_diagram_history

    ADD CONSTRAINT fk_event_diagram_history_changed_by_users FOREIGN KEY (changed_by) REFERENCES public.users(id) ON DELETE SET NULL;





--

-- Name: event_diagram_history fk_event_diagram_history_event_id_events; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_diagram_history

    ADD CONSTRAINT fk_event_diagram_history_event_id_events FOREIGN KEY (event_id) REFERENCES public.events_backup(id) ON DELETE CASCADE;





--

-- Name: event_diagrams fk_event_diagrams_event_id_events; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.event_diagrams

    ADD CONSTRAINT fk_event_diagrams_event_id_events FOREIGN KEY (event_id) REFERENCES public.events_backup(id) ON DELETE CASCADE;





--

-- Name: events_backup fk_events_owner_id_users; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.events_backup

    ADD CONSTRAINT fk_events_owner_id_users FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE SET NULL;





--

-- Name: organizer_profiles fk_organizer_profiles_user_id_users; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.organizer_profiles

    ADD CONSTRAINT fk_organizer_profiles_user_id_users FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;





--

-- Name: vendor_applications fk_vendor_applications_assigned_slot_id_event_slots; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.vendor_applications

    ADD CONSTRAINT fk_vendor_applications_assigned_slot_id_event_slots FOREIGN KEY (assigned_slot_id) REFERENCES public.event_slots(id) ON DELETE SET NULL;





--

-- Name: vendor_applications fk_vendor_applications_event; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.vendor_applications

    ADD CONSTRAINT fk_vendor_applications_event FOREIGN KEY (event_id) REFERENCES public.events_backup(id) ON DELETE CASCADE;





--

-- Name: vendor_applications fk_vendor_applications_profile; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.vendor_applications

    ADD CONSTRAINT fk_vendor_applications_profile FOREIGN KEY (vendor_profile_id) REFERENCES public.vendor_profiles(id) ON DELETE CASCADE;





--

-- Name: vendor_profile_categories fk_vendor_profile_categories_category; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.vendor_profile_categories

    ADD CONSTRAINT fk_vendor_profile_categories_category FOREIGN KEY (category_id) REFERENCES public.vendor_categories(id) ON DELETE CASCADE;





--

-- Name: vendor_profile_categories fk_vendor_profile_categories_profile; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.vendor_profile_categories

    ADD CONSTRAINT fk_vendor_profile_categories_profile FOREIGN KEY (vendor_profile_id) REFERENCES public.vendor_profiles(id) ON DELETE CASCADE;





--

-- Name: vendor_profiles fk_vendor_profiles_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.vendor_profiles

    ADD CONSTRAINT fk_vendor_profiles_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;





--

-- Name: organizer_contacts organizer_contacts_organizer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres

--



ALTER TABLE ONLY public.organizer_contacts

    ADD CONSTRAINT organizer_contacts_organizer_id_fkey FOREIGN KEY (organizer_id) REFERENCES public.users(id) ON DELETE CASCADE;





--

-- Name: TABLE alembic_version; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.alembic_version TO eventapp;





--

-- Name: TABLE categories; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.categories TO eventapp;





--

-- Name: SEQUENCE categories_id_seq; Type: ACL; Schema: public; Owner: postgres

--



GRANT ALL ON SEQUENCE public.categories_id_seq TO eventapp;





--

-- Name: TABLE event_categories; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.event_categories TO eventapp;





--

-- Name: SEQUENCE event_categories_id_seq; Type: ACL; Schema: public; Owner: postgres

--



GRANT ALL ON SEQUENCE public.event_categories_id_seq TO eventapp;





--

-- Name: TABLE event_category_link; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.event_category_link TO eventapp;





--

-- Name: TABLE event_diagram; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.event_diagram TO eventapp;





--

-- Name: TABLE event_diagram_history; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.event_diagram_history TO eventapp;





--

-- Name: SEQUENCE event_diagram_history_id_seq; Type: ACL; Schema: public; Owner: postgres

--



GRANT ALL ON SEQUENCE public.event_diagram_history_id_seq TO eventapp;





--

-- Name: SEQUENCE event_diagram_id_seq; Type: ACL; Schema: public; Owner: postgres

--



GRANT ALL ON SEQUENCE public.event_diagram_id_seq TO eventapp;





--

-- Name: TABLE event_diagrams; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.event_diagrams TO eventapp;





--

-- Name: SEQUENCE event_diagrams_id_seq; Type: ACL; Schema: public; Owner: postgres

--



GRANT ALL ON SEQUENCE public.event_diagrams_id_seq TO eventapp;





--

-- Name: TABLE event_invites; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.event_invites TO eventapp;





--

-- Name: SEQUENCE event_invites_id_seq; Type: ACL; Schema: public; Owner: postgres

--



GRANT ALL ON SEQUENCE public.event_invites_id_seq TO eventapp;





--

-- Name: TABLE event_slots; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.event_slots TO eventapp;





--

-- Name: SEQUENCE event_slots_id_seq; Type: ACL; Schema: public; Owner: postgres

--



GRANT ALL ON SEQUENCE public.event_slots_id_seq TO eventapp;





--

-- Name: TABLE events; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.events TO eventapp;





--

-- Name: TABLE events_backup; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.events_backup TO eventapp;





--

-- Name: TABLE events_diagram; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.events_diagram TO eventapp;





--

-- Name: TABLE events_diagram_history; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.events_diagram_history TO eventapp;





--

-- Name: SEQUENCE events_diagram_history_id_seq; Type: ACL; Schema: public; Owner: postgres

--



GRANT ALL ON SEQUENCE public.events_diagram_history_id_seq TO eventapp;





--

-- Name: SEQUENCE events_id_seq; Type: ACL; Schema: public; Owner: postgres

--



GRANT ALL ON SEQUENCE public.events_id_seq TO eventapp;





--

-- Name: SEQUENCE events_id_seq1; Type: ACL; Schema: public; Owner: postgres

--



GRANT ALL ON SEQUENCE public.events_id_seq1 TO eventapp;





--

-- Name: TABLE organizer_contacts; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.organizer_contacts TO eventapp;





--

-- Name: SEQUENCE organizer_contacts_id_seq; Type: ACL; Schema: public; Owner: postgres

--



GRANT ALL ON SEQUENCE public.organizer_contacts_id_seq TO eventapp;





--

-- Name: TABLE organizer_profiles; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.organizer_profiles TO eventapp;





--

-- Name: SEQUENCE organizer_profiles_id_seq; Type: ACL; Schema: public; Owner: postgres

--



GRANT ALL ON SEQUENCE public.organizer_profiles_id_seq TO eventapp;





--

-- Name: TABLE permit_resources; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.permit_resources TO eventapp;





--

-- Name: SEQUENCE permit_resources_id_seq; Type: ACL; Schema: public; Owner: postgres

--



GRANT ALL ON SEQUENCE public.permit_resources_id_seq TO eventapp;





--

-- Name: TABLE users; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.users TO eventapp;





--

-- Name: SEQUENCE users_id_seq; Type: ACL; Schema: public; Owner: postgres

--



GRANT ALL ON SEQUENCE public.users_id_seq TO eventapp;





--

-- Name: TABLE vendor_applications; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.vendor_applications TO eventapp;





--

-- Name: SEQUENCE vendor_applications_id_seq; Type: ACL; Schema: public; Owner: postgres

--



GRANT ALL ON SEQUENCE public.vendor_applications_id_seq TO eventapp;





--

-- Name: TABLE vendor_categories; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.vendor_categories TO eventapp;





--

-- Name: SEQUENCE vendor_categories_id_seq; Type: ACL; Schema: public; Owner: postgres

--



GRANT ALL ON SEQUENCE public.vendor_categories_id_seq TO eventapp;





--

-- Name: TABLE vendor_profile_categories; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.vendor_profile_categories TO eventapp;





--

-- Name: SEQUENCE vendor_profile_categories_id_seq; Type: ACL; Schema: public; Owner: postgres

--



GRANT ALL ON SEQUENCE public.vendor_profile_categories_id_seq TO eventapp;





--

-- Name: TABLE vendor_profiles; Type: ACL; Schema: public; Owner: postgres

--



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public.vendor_profiles TO eventapp;





--

-- Name: SEQUENCE vendor_profiles_id_seq; Type: ACL; Schema: public; Owner: postgres

--



GRANT ALL ON SEQUENCE public.vendor_profiles_id_seq TO eventapp;





--

-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres

--



ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO eventapp;





--

-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres

--



ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES TO eventapp;





--

-- PostgreSQL database dump complete

--



\unrestrict ctLcI8ooAeIdqRDw7yIcxtywjFHaYLEbPs5HS8JUuOaKc3RgkPS1NhEfh0j2Vbh



�